:root {
  --ph: 4em;
  --sep: 3px;
  --w: 45em;
  --h: var(--w);

  --green: rgb(50,120,50);
  --cream: rgb(245,240,220);
  --blue: rgb(20,50,180);
  --prp: rgb(70,0,70);
  --red: rgb(207, 24, 24);

  --p1: 180deg;
  --p2: 270deg;
  --p3: 0deg;
  --p4: 90deg;
}

.hidden {
  display: none!important;
}

.modal {
  background: rgba(0,0,0,0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
}
.modal .panel {
  background: white;
  padding: 1em;
}

.sliders {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sliders .heading {
  font-family: Verdana;
  font-variant: small-caps;
  margin-right: 1em;
}

.sliders label {
  color: var(--prp);
  font-family: Arial;
}


input[type=range] {
  display: inline-block;
  width: 20em;
  border: 1px solid black;
  vertical-align: -50%;
}

.board {
  position: relative;
  width: var(--w);
  height: var(--h);
  background-color: var(--green);
}

.player {
  width: calc(var(--w) - var(--ph));
  height: var(--ph);
  transform-origin: calc(var(--ph) / 2) calc(var(--ph) / 2);
  color: var(--cream);
  font-family: Verdana;
  font-weight: bold;
  text-shadow: 0 0 3px var(--prp);
  border: var(--sep) solid var(--green);
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--cream);
}

.player.winner {
  background: gold;
}

.player.active::before {
  background: var(--blue);
}
.player::before {
  content: attr(id);
  margin: 0.5em;
  border: 1px solid var(--prp);
  border-radius: 25%;
  box-shadow: 0 0 6px 0px var(--prp);
  padding: 0em 0.3em 0.1em;
  text-align: center;
  background: var(--green);
  position: absolute;
  left: 0;
  z-index: 2;
}

.player:nth-child(1) {
  --xp: calc(var(--ph) - var(--w));
  transform: rotate(var(--p1)) translate(var(--xp), 0);
}

.player:nth-child(2) {
  --xp: calc(calc(2 * var(--ph)) - var(--w));
  --yp: calc(var(--w) - var(--ph));
  transform: rotate(var(--p2)) translate(var(--xp),var(--yp));
}

.player:nth-child(3) {
  --yp: calc(var(--w) - calc(3 * var(--ph)));
  transform: rotate(var(--p3)) translate(0, var(--yp));
}

.player:nth-child(4) {
  --xp: calc(0em - calc(3 * var(--ph)));
  transform: rotate(var(--p4)) translate(var(--xp), 0em);
}

.discards {
  --d: calc(var(--w) - calc(2 * var(--ph)));
  position: absolute;
  top: var(--ph);
  left: var(--ph);
  width: var(--d);
  height: var(--d);
  background: var(--prp);
  border: calc(3 * var(--sep)) solid var(--green);
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: var(--prp);
  font-family: Arial;
  font-weight: bold;
  font-variant: small-caps;
  text-shadow: 0 0 4px var(--cream);
  overflow: hidden;
}

.discards::after {
  position: absolute;
  background: var(--prp);
  opacity: 0.9;
  box-shadow: 0 0 10px 2px var(--prp);
  padding: 20em;
  white-space: nowrap;
}

.discards.exhausted::after {
  content: "NO TILES LEFT TO DEAL: ROUND IS A DRAW";
}

.discards.winner::after {
  content: "GAME WAS WON - WINNING PLAYER IS HIGHLIGHTED";
}


.tile {
  display: inline-block;
  --lw: calc(0.5 * var(--ph));
  --lh: calc(0.7 * var(--ph));
  width: var(--lw);
  height: var(--lh);
  min-width: var(--lw);
  min-height: var(--lh);
  max-width: var(--lw);
  max-height: var(--lh);
  border-radius: calc(0.05 * var(--ph));
  border: 1px solid black;
  background-color: rgb(245,245,245);
  background-size: 100% ;
  background-position: center center;
  background-repeat: no-repeat;
}

.tile.suggestion { box-shadow: 0 0 3px 0 var(--prp); }
.tile.discard { box-shadow: 0 0 3px 0 var(--cream); }

.tile + .tile {
  margin-left: 1px;
}

/* bamboo */
.tile[data-tile="0"]  { background-image: url('https://pomax.github.io/MJJS/public/tiles/0.jpg'); }
.tile[data-tile="1"]  { background-image: url('https://pomax.github.io/MJJS/public/tiles/1.jpg'); }
.tile[data-tile="2"]  { background-image: url('https://pomax.github.io/MJJS/public/tiles/2.jpg'); }
.tile[data-tile="3"]  { background-image: url('https://pomax.github.io/MJJS/public/tiles/3.jpg'); }
.tile[data-tile="4"]  { background-image: url('https://pomax.github.io/MJJS/public/tiles/4.jpg'); }
.tile[data-tile="5"]  { background-image: url('https://pomax.github.io/MJJS/public/tiles/5.jpg'); }
.tile[data-tile="6"]  { background-image: url('https://pomax.github.io/MJJS/public/tiles/6.jpg'); }
.tile[data-tile="7"]  { background-image: url('https://pomax.github.io/MJJS/public/tiles/7.jpg'); }
.tile[data-tile="8"]  { background-image: url('https://pomax.github.io/MJJS/public/tiles/8.jpg'); }

/* characters */
.tile[data-tile="9"]  { background-image: url('https://pomax.github.io/MJJS/public/tiles/9.jpg'); }
.tile[data-tile="10"] { background-image: url('https://pomax.github.io/MJJS/public/tiles/10.jpg'); }
.tile[data-tile="11"] { background-image: url('https://pomax.github.io/MJJS/public/tiles/11.jpg'); }
.tile[data-tile="12"] { background-image: url('https://pomax.github.io/MJJS/public/tiles/12.jpg'); }
.tile[data-tile="13"] { background-image: url('https://pomax.github.io/MJJS/public/tiles/13.jpg'); }
.tile[data-tile="14"] { background-image: url('https://pomax.github.io/MJJS/public/tiles/14.jpg'); }
.tile[data-tile="15"] { background-image: url('https://pomax.github.io/MJJS/public/tiles/15.jpg'); }
.tile[data-tile="16"] { background-image: url('https://pomax.github.io/MJJS/public/tiles/16.jpg'); }
.tile[data-tile="17"] { background-image: url('https://pomax.github.io/MJJS/public/tiles/17.jpg'); }

/* dots */
.tile[data-tile="18"] { background-image: url('https://pomax.github.io/MJJS/public/tiles/18.jpg'); }
.tile[data-tile="19"] { background-image: url('https://pomax.github.io/MJJS/public/tiles/19.jpg'); }
.tile[data-tile="20"] { background-image: url('https://pomax.github.io/MJJS/public/tiles/20.jpg'); }
.tile[data-tile="21"] { background-image: url('https://pomax.github.io/MJJS/public/tiles/21.jpg'); }
.tile[data-tile="22"] { background-image: url('https://pomax.github.io/MJJS/public/tiles/22.jpg'); }
.tile[data-tile="23"] { background-image: url('https://pomax.github.io/MJJS/public/tiles/23.jpg'); }
.tile[data-tile="24"] { background-image: url('https://pomax.github.io/MJJS/public/tiles/24.jpg'); }
.tile[data-tile="25"] { background-image: url('https://pomax.github.io/MJJS/public/tiles/25.jpg'); }
.tile[data-tile="26"] { background-image: url('https://pomax.github.io/MJJS/public/tiles/26.jpg'); }

/* winds */
.tile[data-tile="27"] { background-image: url('https://pomax.github.io/MJJS/public/tiles/27.jpg'); }
.tile[data-tile="28"] { background-image: url('https://pomax.github.io/MJJS/public/tiles/28.jpg'); }
.tile[data-tile="29"] { background-image: url('https://pomax.github.io/MJJS/public/tiles/29.jpg'); }
.tile[data-tile="30"] { background-image: url('https://pomax.github.io/MJJS/public/tiles/30.jpg'); }

/* dragons */
.tile[data-tile="31"] { background-image: url('https://pomax.github.io/MJJS/public/tiles/31.jpg'); }
.tile[data-tile="32"] { background-image: url('https://pomax.github.io/MJJS/public/tiles/32.jpg'); }
.tile[data-tile="33"] { background-image: url('https://pomax.github.io/MJJS/public/tiles/33.jpg'); }

/* bonus tiles */
.tile[data-tile="34"] { background-image: url('https://pomax.github.io/MJJS/public/tiles/34.jpg'); }
.tile[data-tile="35"] { background-image: url('https://pomax.github.io/MJJS/public/tiles/35.jpg'); }
.tile[data-tile="36"] { background-image: url('https://pomax.github.io/MJJS/public/tiles/36.jpg'); }
.tile[data-tile="37"] { background-image: url('https://pomax.github.io/MJJS/public/tiles/37.jpg'); }
.tile[data-tile="38"] { background-image: url('https://pomax.github.io/MJJS/public/tiles/38.jpg'); }
.tile[data-tile="39"] { background-image: url('https://pomax.github.io/MJJS/public/tiles/39.jpg'); }
.tile[data-tile="40"] { background-image: url('https://pomax.github.io/MJJS/public/tiles/40.jpg'); }
.tile[data-tile="41"] { background-image: url('https://pomax.github.io/MJJS/public/tiles/41.jpg'); }

.tile[data-bonus] {
  transform: scale(0.8, 0.8);
  border: 1px solid red;
}


/*
.tile[data-hidden] { background: url('https://pomax.github.io/MJJS/public/tiles/concealed.jpg'); }
*/
.tile[data-hidden] { opacity: 0.5; }

.player .tile { margin-top: calc(calc(var(--ph) / 6)); }
.tile[data-locked] { margin-top: calc(0em - calc(var(--ph) / 6)); }


