:root {
  --ph: 4em;
  --sep: 3px;
  --w: 45em;
  --h: var(--w);

  --green: rgb(50,120,50);
  --cream: rgb(245,240,220);
  --blue: rgb(20,50,180);
  --prp: rgb(70,0,70);
  --red: rgb(207, 24, 24);

  --p1: 180deg;
  --p2: 270deg;
  --p3: 0deg;
  --p4: 90deg;
}

.hidden {
  display: none!important;
}

.modal {
  background: rgba(0,0,0,0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
}
.modal .panel {
  background: white;
  padding: 1em;
}

.sliders {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: none;
}

.sliders .heading {
  font-family: Verdana;
  font-variant: small-caps;
  margin-right: 1em;
}

.sliders label {
  color: var(--prp);
  font-family: Arial;
}


input[type=range] {
  display: inline-block;
  width: 20em;
  border: 1px solid black;
  vertical-align: -50%;
}

.board {
  position: relative;
  width: var(--w);
  height: var(--h);
  background-color: var(--green);
}

.player {
  width: calc(var(--w) - var(--ph));
  height: var(--ph);
  transform-origin: calc(var(--ph) / 2) calc(var(--ph) / 2);
  color: var(--cream);
  font-family: Verdana;
  font-weight: bold;
  text-shadow: 0 0 3px var(--prp);
  border: var(--sep) solid var(--green);
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--cream);
}

.player.waiting { background: rgb(248, 235, 144); }
.player.winner { background: gold; }
.player.winner:before { content: '✧'; }

.player.active::before { background: var(--blue); }
.player::before {
  /*
  content: attr(id) '\A' attr(data-wind);
  */
  content: attr(id);
  white-space: pre;
  font-weight: 400;
  margin: 0.5em;
  border: 1px solid var(--prp);
  border-radius: 25%;
  box-shadow: 0 0 6px 0px var(--prp);
  padding: 0em 0.3em 0.1em;
  text-align: center;
  background: var(--green);
  position: absolute;
  left: 0;
  z-index: 2;
}

.player::after {
  /* content: attr(data-wincount); */
  content: attr(data-score);
  background: var(--prp);
  box-shadow: 0 0 4px 0 var(--prp);
  padding: 2px 5px;
  position: absolute;
  right: var(--sep);
}

.player:nth-child(1) {
  --xp: calc(var(--ph) - var(--w));
  transform: rotate(var(--p1)) translate(var(--xp), 0);
}

.player:nth-child(2) {
  --xp: calc(calc(2 * var(--ph)) - var(--w));
  --yp: calc(var(--w) - var(--ph));
  transform: rotate(var(--p2)) translate(var(--xp),var(--yp));
}

.player:nth-child(3) {
  --yp: calc(var(--w) - calc(3 * var(--ph)));
  transform: rotate(var(--p3)) translate(0, var(--yp));
}

.player:nth-child(4) {
  --xp: calc(0em - calc(3 * var(--ph)));
  transform: rotate(var(--p4)) translate(var(--xp), 0em);
}

.discards {
  --d: calc(var(--w) - calc(2 * var(--ph)));
  position: absolute;
  top: var(--ph);
  left: var(--ph);
  width: var(--d);
  height: var(--d);
  background: var(--prp);
  border: calc(3 * var(--sep)) solid var(--green);
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: var(--prp);
  font-family: Arial;
  font-weight: bold;
  font-variant: small-caps;
  text-shadow: 0 0 4px var(--cream);
  overflow: hidden;
}

.discards::after {
  position: absolute;
  background: var(--prp);
  opacity: 0.9;
  box-shadow: 0 0 10px 2px var(--prp);
  padding: 20em;
  white-space: nowrap;
}

.discards.exhausted::after {
  content: "NO TILES LEFT TO DEAL: ROUND IS A DRAW";
}

.discards.winner::after {
  content: "GAME WAS WON - WINNING PLAYER IS HIGHLIGHTED";
}


.tile {
  display: inline-block;
  --lw: calc(0.5 * var(--ph));
  --lh: calc(0.7 * var(--ph));
  width: var(--lw);
  height: var(--lh);
  min-width: var(--lw);
  min-height: var(--lh);
  max-width: var(--lw);
  max-height: var(--lh);
  border-radius: calc(0.05 * var(--ph));
  border: 1px solid black;
  background-color: rgb(245,245,245);
  background-size: 100% ;
  background-position: center center;
  background-repeat: no-repeat;
}

.tile.suggestion { box-shadow: 0 0 3px 0 var(--prp); }
.tile.discard { box-shadow: 0 0 3px 0 var(--cream); }
.tile + .tile { margin-left: 1px; }

[data-tile="-1"]  { content:'unknown'; background-image: url('https://pomax.github.io/MJJS/public/tiles/concealed.jpg'); }

[data-tile="0"]  { content:'bamboo-1'; background-image: url('https://pomax.github.io/MJJS/public/tiles/0.jpg'); }
[data-tile="1"]  { content:'bamboo-2'; background-image: url('https://pomax.github.io/MJJS/public/tiles/1.jpg'); }
[data-tile="2"]  { content:'bamboo-3'; background-image: url('https://pomax.github.io/MJJS/public/tiles/2.jpg'); }
[data-tile="3"]  { content:'bamboo-4'; background-image: url('https://pomax.github.io/MJJS/public/tiles/3.jpg'); }
[data-tile="4"]  { content:'bamboo-5'; background-image: url('https://pomax.github.io/MJJS/public/tiles/4.jpg'); }
[data-tile="5"]  { content:'bamboo-6'; background-image: url('https://pomax.github.io/MJJS/public/tiles/5.jpg'); }
[data-tile="6"]  { content:'bamboo-7'; background-image: url('https://pomax.github.io/MJJS/public/tiles/6.jpg'); }
[data-tile="7"]  { content:'bamboo-8'; background-image: url('https://pomax.github.io/MJJS/public/tiles/7.jpg'); }
[data-tile="8"]  { content:'bamboo-9'; background-image: url('https://pomax.github.io/MJJS/public/tiles/8.jpg'); }

[data-tile="9"]  { content:'characters-1'; background-image: url('https://pomax.github.io/MJJS/public/tiles/9.jpg'); }
[data-tile="10"] { content:'characters-2'; background-image: url('https://pomax.github.io/MJJS/public/tiles/10.jpg'); }
[data-tile="11"] { content:'characters-3'; background-image: url('https://pomax.github.io/MJJS/public/tiles/11.jpg'); }
[data-tile="12"] { content:'characters-4'; background-image: url('https://pomax.github.io/MJJS/public/tiles/12.jpg'); }
[data-tile="13"] { content:'characters-5'; background-image: url('https://pomax.github.io/MJJS/public/tiles/13.jpg'); }
[data-tile="14"] { content:'characters-6'; background-image: url('https://pomax.github.io/MJJS/public/tiles/14.jpg'); }
[data-tile="15"] { content:'characters-7'; background-image: url('https://pomax.github.io/MJJS/public/tiles/15.jpg'); }
[data-tile="16"] { content:'characters-8'; background-image: url('https://pomax.github.io/MJJS/public/tiles/16.jpg'); }
[data-tile="17"] { content:'characters-9'; background-image: url('https://pomax.github.io/MJJS/public/tiles/17.jpg'); }

[data-tile="18"] { content:'dots-1'; background-image: url('https://pomax.github.io/MJJS/public/tiles/18.jpg'); }
[data-tile="19"] { content:'dots-2'; background-image: url('https://pomax.github.io/MJJS/public/tiles/19.jpg'); }
[data-tile="20"] { content:'dots-3'; background-image: url('https://pomax.github.io/MJJS/public/tiles/20.jpg'); }
[data-tile="21"] { content:'dots-4'; background-image: url('https://pomax.github.io/MJJS/public/tiles/21.jpg'); }
[data-tile="22"] { content:'dots-5'; background-image: url('https://pomax.github.io/MJJS/public/tiles/22.jpg'); }
[data-tile="23"] { content:'dots-6'; background-image: url('https://pomax.github.io/MJJS/public/tiles/23.jpg'); }
[data-tile="24"] { content:'dots-7'; background-image: url('https://pomax.github.io/MJJS/public/tiles/24.jpg'); }
[data-tile="25"] { content:'dots-8'; background-image: url('https://pomax.github.io/MJJS/public/tiles/25.jpg'); }
[data-tile="26"] { content:'dots-9'; background-image: url('https://pomax.github.io/MJJS/public/tiles/26.jpg'); }

[data-tile="27"] { content:'E'; background-image: url('https://pomax.github.io/MJJS/public/tiles/27.jpg'); }
[data-tile="28"] { content:'S'; background-image: url('https://pomax.github.io/MJJS/public/tiles/28.jpg'); }
[data-tile="29"] { content:'W'; background-image: url('https://pomax.github.io/MJJS/public/tiles/29.jpg'); }
[data-tile="30"] { content:'N'; background-image: url('https://pomax.github.io/MJJS/public/tiles/30.jpg'); }

[data-tile="31"] { content:'F'; background-image: url('https://pomax.github.io/MJJS/public/tiles/31.jpg'); }
[data-tile="32"] { content:'C'; background-image: url('https://pomax.github.io/MJJS/public/tiles/32.jpg'); }
[data-tile="33"] { content:'P'; background-image: url('https://pomax.github.io/MJJS/public/tiles/33.jpg'); }

[data-tile="38"] { content:'spring'; background-image: url('https://pomax.github.io/MJJS/public/tiles/38.jpg'); }
[data-tile="39"] { content:'summer'; background-image: url('https://pomax.github.io/MJJS/public/tiles/39.jpg'); }
[data-tile="40"] { content:'fall';   background-image: url('https://pomax.github.io/MJJS/public/tiles/40.jpg'); }
[data-tile="41"] { content:'winter'; background-image: url('https://pomax.github.io/MJJS/public/tiles/41.jpg'); }

[data-tile="34"] { content:'orchid';        background-image: url('https://pomax.github.io/MJJS/public/tiles/34.jpg'); }
[data-tile="35"] { content:'plum';          background-image: url('https://pomax.github.io/MJJS/public/tiles/35.jpg'); }
[data-tile="36"] { content:'chrysanthemum'; background-image: url('https://pomax.github.io/MJJS/public/tiles/36.jpg'); }
[data-tile="37"] { content:'bamboo';        background-image: url('https://pomax.github.io/MJJS/public/tiles/37.jpg'); }

.player .tile { margin-top: calc(calc(var(--ph) / 6)); }
.tile[data-locked]  { margin-top: calc(0em - calc(var(--ph) / 6)); }
.tile[data-bonus]   { transform: scale(0.8, 0.8); border: 1px solid red; }
.tile[data-winning] { border-width: 5px 1px 1px 1px; border-top-color: #00ff42; }

.knowledge {
  background: var(--green);
  width: 10em;
  height: var(--h);
  position: relative;
  z-index: 2;
  right: calc(-100% - var(--sep));
  top: calc(6.5em - calc(var(--h) / 2));
  width: calc(4em + calc(2 * var(--sep)));
  border: 1px solid black;
  box-sizing: border-box;
  padding: 0 var(--sep);
}

.tile-count {
  height: calc(var(--h) / 34);
  padding-left: 1px;
}

.tile-count [data-tile] {
  display: inline-block;
  background-size: auto 100%;
  background-repeat: no-repeat;
  height: calc(100% - 2px);
  width: 25%;
}
