.modal {
  background: rgba(0, 0, 0, 0.67);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 100;

  /* visually constrain to discard panel */
  top: var(--ph);
  left: var(--ph);
  right: var(--ph);
  bottom: var(--ph);
}

.modal .panel {
  background: white;
  padding: 0em 1em 1em;
  display: inline-block;
}

.modal .panel h1 {
  font-size: 1rem;
  position: relative;
}

.modal .panel h3 {
  position: relative;
}

.modal .panel h3 .close {
  font-variant: small-caps;
  font-family: Verdana;
  cursor: pointer;
  color: #444;
  font-weight: normal;
  position: absolute;
  right: 0;
  top: -1em;
}

.modal .panel button {
  display: block;
  width: 100%;
  white-space: nowrap;
  background: #DDD;
  opacity: 0.5;
}

.modal .panel button:only-of-type,
.modal .panel button:active,
.modal .panel button:focus {
  opacity: 1;
}

button::-moz-focus-inner {
  border: 0;
}

button, button:active, button:focus {
  outline: none!important;
  outline: 0!important;
}

.modal .panel button + button {
  margin-top: 3px;
}

.modal .panel table tr th {
  border-bottom: 1px solid black;
}

.modal .panel table tr:nth-last-child(2) td {
  border-top: 1px solid black;
}

.modal .panel table tr th:first-child,
.modal .panel table tr:last-child td:first-child {
  border: none;
}

.modal .panel table tr td {
  text-align: right;
}

.modal .panel table tr th,
.modal .panel table tr td:first-child {
  font-family: Verdana;
  text-align: center;
  font-weight: bold;
  font-variant: small-caps;
}

.modal .panel table tr.details td {
  color: blue;
  text-align: right;
  cursor: pointer;
}
