html {
    background: var(--green);
}
body {
    background: white;
    width: 800px;
    padding: 0 80px 80px 80px;
    margin: auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Verdana;
}

h1 { font-size: 2rem; }
h2 { font-size: 1.75rem; }

p {
    text-indent: 1em;
    font-family: Arial, Hiragina, "MS Gothic", sans-serif;
    text-align: justify;
}

ul {
    width: 90%;
}

footer {
    position: relative;
    top: 4em;
    font-family: Verdana;
    font-size: 90%;
    text-align: center;
}